<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{layouts/main_layout :: head(title = 'Aarambha Real Estate')}">
</head>

<body>
<nav th:replace="~{layouts/main_layout :: nav}"  style="z-index: 9999;"></nav>

<div
        class="container"
        style="padding: 20px;margin-top: 100px;min-height: 600px;padding-top: 0; z-index: 9998;"
        th:fragment="content"
>
  <div
          class="clean-blog-adds"
          style="padding: 20px;padding-bottom: 25px;margin: 15px;"
  >

    <!-- Quote -->
    <div class="row" style="margin: 0;margin-top: 20px;">
      <div class="col">
        <div class="block-heading">
          <h2
                  class="text-info d-flex justify-content-center align-items-center"
          >
            Outbox
          </h2>
          <p
                  class="d-flex justify-content-center"
                  style="color: rgb(112,116,120);"
          >
          </p>
        </div>
      </div>
    </div>

    <div class="row" style="margin: 0;">
      <div class="col">
        <a th:href="@{/message/inbox}">
          <button class="btn btn-outline-primary float-right" style="margin-right: 5px" type="button">
            Show Inbox
          </button>
        </a>
      </div>
    </div>

    <div
            class="row d-flex justify-content-center shadow-sm border rounded"
            style="margin-left: 0;margin-right: 0;margin-top: 10px;padding-top: 25px;padding-bottom: 25px;"
            th:each="message : ${messages}"
    >
      <div class="col-lg-11 order-12">
        <h5 th:text="${message.getReceiver().getFullName()}">
        </h5>
        <h5 th:text="${message.getReceiver().getEmail()}">
        </h5>
        <span
                th:title="${message.getCreationDate()}"
                th:datetime="${message.getCreationDate()}"
                th:text="${message.getPrettyTime()}"
        ></span>
        <p style="font-size: 15px;" th:text="${message.getMessageText()}"></p>
      </div>
    </div>
  </div>
</div>

<!-- Start: Footer White -->
<!--
<footer class="page-footer" style="margin-top: 30px;">
  <div class="footer-copyright" style="margin: 0;padding: 0;">
	<p>© 2019 Copyright Text</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script> -->
</body>
</html>
